.uni-modal__title {
  font-family: Microsoft YaHei, Microsoft YaHei;
  font-weight: bold;
  font-size: 32rpx;
  color: #333333;
}
.uni-modal__bd {
  font-family: Microsoft YaHei, Microsoft YaHei;
  font-weight: 400;
  font-size: 28rpx;
  color: #000000;
  line-height: 36rpx;
}
